{
  "MIME": "text/plain",
  "inode_type": "LNK",
  "magic_type": "ASCII text, with no line terminators",
  "mode": "lrwxrwxrwx",
  "sha1": "a31c3353868a71ff001ac40f07c7062bda656e27"
}