{
  "MIME": "text/plain",
  "inode_type": "LNK",
  "magic_type": "ASCII text, with no line terminators",
  "mode": "lrwxrwxrwx",
  "sha1": "c4dbb5ce10b26c3d1d9f377c5485fe54c74e439a"
}