{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "c49c0aeda294b1d39a621e2d5992f3d1fa481982"
}