{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "4cd64e0ebd3d3b9f51480b52544a8d2662549157"
}