{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "UTF-8 Unicode text",
  "mode": "-rw-r--r--",
  "sha1": "bd06f901a8647aeae555572fb76c96e66a0053ff"
}