{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "1ecc8b07cf6f1a8b34d9a6c4d6c13db45e2c7f7f"
}