{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "6e957e0d7a2c4c7eba334087d9afb6498668a4df"
}