{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "13b703b05ecfa027a1cf1e501592cfd67aa7588a"
}