{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "4fe9c88126962a224a49295f070a90bb2fc3db0a"
}