{
  "MIME": "text/plain",
  "inode_type": "LNK",
  "magic_type": "ASCII text, with no line terminators",
  "mode": "lrwxrwxrwx",
  "sha1": "5323aa2b7a5b48ac5ffa66184d7437a3e780c6e6"
}