{
  "MIME": "text/plain",
  "inode_type": "LNK",
  "magic_type": "ASCII text, with no line terminators",
  "mode": "lrwxrwxrwx",
  "sha1": "29c4b2b8ef8f0d8d536474ce73daf56ec74eaac9"
}