{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "695689ba65d66a6c6c6a88950e0a73dbadfe6113"
}