{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "2d27fddcfcfbe1b57f131908423d725783e9a0cd"
}