{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "8311df6f7d5b45ed1f26f7566208dd0e1296d472"
}