{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "dadf4fb9fadd56ffcbe5a2f57f051af65ca9e72d"
}