{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "db29f4949d2512e3a0994d2faef78a16ea7b0efb"
}