{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "b5c09c602ff97d1d0b74ef5d7b114f39a36cd654"
}