{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "b1ad1cb395d0638301deafe2d4b51fc2f67c1c48"
}