{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "f5d3d0ae566bf0f57332d027bea58e2d6fe79110"
}