{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "a20cbb7385ba01d03cb70b1b3e5193f0695cce13"
}