{
  "MIME": "text/plain",
  "inode_type": "LNK",
  "magic_type": "ASCII text, with no line terminators",
  "mode": "lrwxrwxrwx",
  "sha1": "a15e1ca3a7a62f77b6b00e2f2fab2011db4b7d75"
}