{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "4d40c9130ca13f7c9eb68d995007b138456f2b9d"
}