{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "ce20aaba59fb428f382b0b1c2e7ce7d59f6e82a7"
}