{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "a34451174a793f4a0de558ddc7faf6fa9525cd1b"
}