{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "8c4a7fb6248b3b1c32be57419112a5d602a972e8"
}