{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "04e6c4abc6d6d4f84b108a74af486953c2872bcb"
}