{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "94ef9ab4a2bebc461ea9d7e72a6d754e99579d4d"
}