{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "79a09e0e22843d1a14cc8da7703fedc134b7ed2b"
}