{
  "MIME": "text/plain",
  "inode_type": "LNK",
  "magic_type": "ASCII text, with no line terminators",
  "mode": "lrwxrwxrwx",
  "sha1": "c2960c5be25be96df20dfe06e15625473461e129"
}