{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "bdd75255a5cce1163c0e240d96edf261cb6404cd"
}