{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "26c5370b1688a7b3b17218bc24b5e07e348ab114"
}