{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "2e2d4cacab57888f37b75cce89c30d8935b481ed"
}