{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "eef6e3ac6165f2cb49c470e7adc03b14ef4ef921"
}