{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "f1cdca68070965ed720bc211a1724b5b3ff242a9"
}