{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "56e6e25eb1149cb481c4cd4a8a740c6bca13d5ef"
}