{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "587120aa6edc4d475dcc9c0dbfefd1404af441a0"
}