{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "7959ae7a0137b0a65eb1ba9695ea86be02682039"
}