{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "5f666c9257b9e28ae5ec3e7f0b346b80e8212e99"
}