{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "4f3225f15c9302e27a71d0a2cf07a105f9fd2e75"
}