{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "30d0a20daa50c4708c2fc6b2afebb9f91688f946"
}