{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "a0f1af0b83b12cc3475fb91e57065e574ab25fb0"
}