{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "516b032eb1cb1be97ba1c7e4e105fce4294bd836"
}