{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "abbbbbe00e45e42f7e368b1dd4e33f5cdb28fd65"
}