{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "5fb392cc839474d9514f3de9b83bebf7f09883a4"
}