{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "fc09b945b12a67b1190a849d48ef861fb7feb6fb"
}