{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "603600d9b7c19a7066051a0c2f54bc10856c7b6a"
}