{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "d26dfbe7ff2df90a13f4c332c065b2b688232bcb"
}