{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "64b18bb7028a8bf38ee145aecdaaf20ed47e1c3b"
}