{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "ecb37d3f27e9920225d5dd6403d1b74e075cea4f"
}