{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "eede25ef6afd4ab95b1b207cd9b3033df0789030"
}