{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "12b86fa45eee1ede0d261df48814d81d12f1d45f"
}