{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "4220257083c7962b0f06b6dadd0f18b59e86a9d5"
}