{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "6c43f9654cdbbcc7932fa3d1017bf0eb900dff01"
}