{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "4f57aee0d3351c57621b68ecb0953080cfbb4b44"
}