{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "2f7249118d56af3e3d1cf5397975c48b71607b2f"
}