{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "5f1ed8c3ce8dd1ae90c87a7de2cb417352bf75d8"
}