{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "2c9fd890d093c28e85fd85502bb8eecad2320aa7"
}