{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "32014234a9ed98c6004a8fdb5e1a895f0955802b"
}