{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "82bbbd6be2b2fdb3cbaf12d24d3b9ce8debcb38e"
}