{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "acfc8cc22f54db2779a614900544ec2dcb97c70a"
}