{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "01784c220fecc5fc0707416ce9cf9e60a117db7f"
}