{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "3d0bf5d0aa9c96a4c521badf0fd83baa61ca85b4"
}