{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "cf4b0a75e273c3293e2dfb15befc006c21949cfb"
}