{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "e0ef65b62290d227ba5597b4fcd1b0d7504f90d1"
}