{
  "MIME": "text/plain",
  "inode_type": "LNK",
  "magic_type": "ASCII text, with no line terminators",
  "mode": "lrwxrwxrwx",
  "sha1": "8ea1bc2bf8cbc8fb3a20dbd2bcc00890fd973a47"
}