{
  "MIME": "text/plain",
  "inode_type": "LNK",
  "magic_type": "ASCII text, with no line terminators",
  "mode": "lrwxrwxrwx",
  "sha1": "4f63ef648a34cbebc5d693d2e2cbb2f95e2c809b"
}