{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "eec984f3c9b06995d683ed2f731bae7d02ce945e"
}