{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "f6ceaf1e3b86eceee24c78f0a4be78b33d7f518d"
}