{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "8fdced6e6298ce2c222fd82550d4cef65ea9aec2"
}