{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "6c31bf52837cdb61e2bcc35b0369000f32786068"
}