{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "eaf269bd6dcc70c8f9e65d550211496c8017898d"
}