{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "0adcf0ee04dd9bf3b5801180938e33e45248156b"
}