{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "fc214f7b319131c745187bdd450b9b25fdc3e66c"
}