{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "999034e8bee88e48c6dec7f52ab3ef66aef34a73"
}