{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "e64a3bdfbebae59ec00570909af4e26a1e140d24"
}