{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "715998462e50cc9d230366f945c9f8bf81cc9b3d"
}