{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "3718a9f7a1f377db0b6bd8208cd33bf3c14e2b2b"
}