{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "0dd58280ebd51c8108dcdd64886fc26aca81f04a"
}