{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "837ca5380572d5e9dfe65f296b6e7e3dda9e93e5"
}