{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "a241bf9c4eb72bb09632678fa41ce66e224ff3eb"
}