{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "9394d96d71b398a0de643f08df5675d6e6f5bf92"
}