{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "037fce7a5bd7788e92f109dbc39cba3080cf1e17"
}