{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "3d0a188eb6f71fc8f319e09f6a03646e41f9efe2"
}