{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "45d5703bbe8b37fa03eac092d5cd743b8bd7f0b4"
}