{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "d5e0d7d5136a02ed5cd54a3fe458f80cbc00436b"
}