{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "af966b7577fb3cc72f7c3d6522076509fd9912c0"
}