{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "ab5c1337ef0e3073a38afb463fcd40b635c76a88"
}