{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "1a830f032fb5c8c2b61549120f6768f36d39ec5a"
}