{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "3774a78f4df82b08d1644c85c391dccbe9e57ce4"
}