{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "f2e7ac7c19598aeca58cfef7520158ecb5fbbd05"
}