{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "ad8d70f18365a69f8baff8a72d0bf5c7c03d8b3a"
}