{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "828d7c045d3b184c35c2dd1da2a4a83cd306337e"
}