{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "f884c9ca7bd0df69cc5f6b5b0948397080cec8cb"
}