{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "0d32dc09f614f5cb1cc7215e9af2eab9106bd160"
}