{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "5f409afc0fcc9392686ff325caa3cf76d4a85621"
}