{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "a6207313b42cccdd13a2688e53c43bc070f2ed4b"
}