{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "51c464ad9a4428473bdc8e067723a3d48022c65f"
}