{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "f112cd924a1d349f7006ca8fbb9f6c2b2b714747"
}