{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "e9d3cf40de0d3cf907f208c80c3f842ed41621cf"
}