{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "d9658b3e71c1b441837f7748b7dd2cf38ff18032"
}