{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "d1fd619fbf60c9cb2ac7cfb67453b16097ffa639"
}