{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "29d3bb42fc28b816dccecd6e307dd5b5b018bc08"
}