{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "c5fd1bf6f39be2b9321d59f89ee30042d01275fc"
}