{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "69ef33ff7bcdccbc76024b3f73db5cf90562bffd"
}