{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "cb537d0c6ba3e885f11aef8b073c64ec39c6096f"
}