{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "fb47ad4683d4ae80e93570cd6cdbc12fbc0fa299"
}