{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "9bd551a4f6af2e2b808ba6edb8277963d234b6b4"
}