{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "034ae250421a3cc22ef95dc26a1a69d245a8ad78"
}