{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "555c89ff6d0639be56f8bf4f0f22b5231f8c48a8"
}