{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "ced43762a755d33dba49f112eeb2a23e6ea69bdf"
}