{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "68aa68c8da9660395acb6af70ff7bceb3b1e551c"
}