{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "5de8416e5c11ca38cbbb3dcc3ed5cff22eeb020f"
}