{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "abf81da00e25eda0fc5b58cce6d7377f8fc743a2"
}