{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "10dd0a85686f2cb0b6ca35324eabeb9bf1990ea3"
}