{
  "MIME": "text/plain",
  "inode_type": "LNK",
  "magic_type": "ASCII text, with no line terminators",
  "mode": "lrwxrwxrwx",
  "sha1": "7c74736bf29d6195a6c851ccb56b0b0bfa182656"
}