{
  "MIME": "text/plain",
  "inode_type": "LNK",
  "magic_type": "ASCII text, with no line terminators",
  "mode": "lrwxrwxrwx",
  "sha1": "7d78fb9bbe6c7e01c119cd350ff93bd95b26d8e5"
}