{
  "MIME": "text/xml",
  "inode_type": "REG",
  "magic_type": "XML 1.0 document, ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "15cd845bc4e307f88ccddf63eb1c02dc2e4d9c10"
}