{
  "MIME": "text/xml",
  "inode_type": "REG",
  "magic_type": "XML 1.0 document, ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "c212d40dac389e99b9b0b5c6b7a29212b5e27c85"
}