{
  "MIME": "text/xml",
  "inode_type": "REG",
  "magic_type": "XML 1.0 document, UTF-8 Unicode text",
  "mode": "-rw-r--r--",
  "sha1": "2b21e2495055f23cd6862665a8e065c47d2f52e1"
}