{
  "MIME": "text/xml",
  "inode_type": "REG",
  "magic_type": "XML 1.0 document, UTF-8 Unicode text",
  "mode": "-rw-r--r--",
  "sha1": "609831fbc9fbf5b2d8db27fd9864d4a7fe007e94"
}