{
  "MIME": "text/xml",
  "inode_type": "REG",
  "magic_type": "XML 1.0 document, ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "175cba6ca05d241ea507ba9c541aaab2b72ccc40"
}