{
  "MIME": "text/xml",
  "inode_type": "REG",
  "magic_type": "XML 1.0 document, UTF-8 Unicode text",
  "mode": "-rw-r--r--",
  "sha1": "933de4f7f246b043b6f2add5264c50802df9b1f9"
}