{
  "MIME": "text/xml",
  "inode_type": "REG",
  "magic_type": "XML 1.0 document, ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "a13c425931f1af8bffeb13e6ceb6312c2ca5ec16"
}