{
  "MIME": "text/xml",
  "inode_type": "REG",
  "magic_type": "XML 1.0 document, UTF-8 Unicode text",
  "mode": "-rw-r--r--",
  "sha1": "98ad26379058011f25a331cc5a2416e00e1bc618"
}