{
  "MIME": "text/xml",
  "inode_type": "REG",
  "magic_type": "XML 1.0 document, ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "5483137c7520e33f168a94cd5feb21fe35ce01ed"
}