{
  "MIME": "text/xml",
  "inode_type": "REG",
  "magic_type": "XML 1.0 document, ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "18bfbf65887d7c3c9849e3b6ed7a6932cbd7092a"
}