{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "1278b3986f4d3948f7bd8a6f9e06bc3ad18e8cf9"
}