{
  "MIME": "text/plain",
  "inode_type": "LNK",
  "magic_type": "ASCII text, with no line terminators",
  "mode": "lrwxrwxrwx",
  "sha1": "daced84af9d757229dc33e245b580c1cc5cefbd2"
}