{
  "MIME": "text/plain",
  "inode_type": "LNK",
  "magic_type": "ASCII text, with no line terminators",
  "mode": "lrwxrwxrwx",
  "sha1": "c103f3ee4b105b0193aebeeb2cfba34b7d6a6bc6"
}