{
  "MIME": "text/plain",
  "inode_type": "LNK",
  "magic_type": "ASCII text, with no line terminators",
  "mode": "lrwxrwxrwx",
  "sha1": "963edfa5a9a9542eaa4f9cc5a8ec1b1b6a36f9a2"
}