{
  "MIME": "text/plain",
  "inode_type": "LNK",
  "magic_type": "ASCII text, with no line terminators",
  "mode": "lrwxrwxrwx",
  "sha1": "a9ecccfbfb2ddf13ed5d8e8a989af367cb4d5fbf"
}