{
  "MIME": "text/plain",
  "inode_type": "LNK",
  "magic_type": "ASCII text, with no line terminators",
  "mode": "lrwxrwxrwx",
  "sha1": "cf4845278e43f5d8c4c374f656c227f9f7d971f2"
}