{
  "MIME": "text/plain",
  "inode_type": "REG",
  "magic_type": "ASCII text",
  "mode": "-rw-r--r--",
  "sha1": "88f91f901b889fe1d2bdce89dc88581b4369dc18"
}